.header {
    width: 100%;
    padding: 40rem 0 24rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--c-dark-second);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: inline-flex;
        gap: 8rem;
		align-items: center;
		font-family: var(--font-therd);
		font-weight: 700;
		font-size: 28px;
		line-height: 140%;
		color: var(--c-white);
        transition: var(--transition);
		&:hover {
			transform: scale(1.05);
		}

        img {
            width: 40rem;
            height: 40rem;
        }
    }

    &__burger {
		display: none;

        &.active-burger {
            right: 0;

            @include tablet {
                position: fixed;
                top: 50rem;
                right: 50rem;
            }
        }

        &.active-burger:before {
            transform: rotate(45deg);
            top: 11rem;
            left: 0;
            background: var(--c-white);
        }
        &.active-burger:after {
            transform: rotate(-45deg);
            bottom: 11rem;
            left: 0;
            width: 100%;
            background: var(--c-white);
        }
        &.active-burger span {
            transform: scale(0);
            background: var(--c-white);
        }

		@include tablet {
			display: block;
			position: relative;
            cursor: pointer;
			width: 16rem;
			height: 24rem;
            z-index: 4;
			 
			&::before,
			&::after,
            span {
				content: "";
				background: var(--c-white);
				position: absolute;
				height: 2rem;
				right: 4rem;
                border-radius: 2rem;
                transition: var(--transition);
			}
			&::before {
				top: 6rem;
                width: 100%;
			}
			&::after {
				bottom: 6rem;
                width: 50%;
			}
            & span {
				width: 75%;
				top: 11rem;
			}
		}
	}

    &__nav {
        padding: 5rem;
        transition: var(--transition);
        overflow: auto;

        @include tablet {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(25, 25, 27, 0.9);
            z-index: 3;
            padding: 70rem 10rem 20rem 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.active-burger {
            top: 0;
        }
    }

    &__ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30rem;

        @include tablet {
            flex-direction: column;
        }
    }

    &__li {
        transition: var(--transition);
		&:hover {
			transform: scale(1.05);
		}
    }

    &__a {
        font-family: var(--font-main);
        color: var(--c-text-white);
        font-size: 18rem;
        font-weight: 400;
        line-height: 25rem;
        transition: var(--transition);      
        
        &.active-link, &:hover {
            color: var(--c-blue);
        }

        @include tablet {
            font-size: 24rem;
            color: var(--c-white);
        }
    }

    &__btn {
        border: 1rem solid var(--c-white);
        backdrop-filter: blur(2px);

		@include tablet-small {
			display: none;
		}
	}
}