.service {
	margin-top: 150rem;
	margin-bottom: 150rem;
	position: relative;

	&__title {
		max-width: 695rem;
		margin-inline: auto;
		text-align: center;
	}

	&-triangle {
		position: absolute;
		left: 44rem;
		top: -33rem;
		@include tablet {
			top: -79rem;
			left: 66rem;
			svg {
				width: 66rem;
				height: auto;
			}
		}
	}
	&-plus-top {
		position: absolute;
		right: 0;
		top: 80rem;
		transform: rotate(-31deg);
		@include tablet {
			right: 0;
			top: 140rem;
			transform: rotate(0);
			svg {
				width: 28rem;
				height: auto;
			}
		}
	}
	&-plus-bottom {
		position: absolute;
		left: -30rem;
		bottom: -30rem;
		transform: rotate(25deg);
		@include tablet {
			left: 30rem;
			bottom: -28rem;
			transform: rotate(0);
			svg {
				width: 28rem;
				height: auto;
			}
		}
	}
}

.service-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(384rem, 1fr));
	gap: 24rem;

	@include mobile {
		margin-top: 50rem;
		grid-template-columns: 1fr;
	}
}

.service-item {
	padding: 48rem 42rem;
	display: grid;
	gap: 20rem;
	text-align: center;

	@include mobile {
		padding: 20rem;
	}

	&__img {
		width: 69rem;
		height: 69rem;
		border-radius: 50%;
		margin-inline: auto;
        display: flex;
        padding: 18rem;
        &.service-1, &.service-5 {
            background: rgba(84, 84, 212, 0.1);
        }
        &.service-2, &.service-6 {
            background: rgba(240, 64, 55, 0.1);
        }
        &.service-3, &.service-4 {
            background: rgba(254, 220, 90, 0.1);
        }
	}

	&__title {
		font-weight: 600;
		font-size: 28rem;
		line-height: 38rem;
		letter-spacing: -0.750316rem;
		color: var(--c-white);
	}

	&__desc {
		font-weight: 400;
		font-size: 20rem;
		line-height: 28rem;
		letter-spacing: -0.500211rem;
		color: var(--c-text-white);
	}
}
