// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
	--ff: 'Open Sans', sans-serif;
	
	--transition: .2s all ease-in-out;

	--c-white: #fff;
	--c-black: #000;
	--c-dark: #1e1f26; 
	--c-grey: #53545a; 
	--c-blue: #337bae;
	--c-corall: rgb(237, 140, 114);
	--c-light: #fcfcfa;

	--gradient-light: linear-gradient(0deg, rgba(252,252,250,0.2) 0%, rgba(237,140,114,0.2) 35%, rgba(30,31,38,0.2) 100%);
	--gradient-dark: linear-gradient(0deg, rgba(51,123,174,0.5) 0%, rgba(30,31,38,0.5) 35%, rgba(0,0,0,0.5) 100%);
}


