html, body {
	height: 100%;
}
html {
	font-size: 1px;
}
body {
	font-size: 16rem;
	font-family: var(--ff);
	background: var(--c-light);
	position: relative;

	@include tablet {
		&.lock {
			overflow: hidden;
		}
	} 
}
.main {
	max-width: 1200rem;
	margin-inline: auto;
	padding: 0 35rem;
	@include tablet-small {
        padding: 0 15rem;
    }
}
.btn {
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	transition: var(--transition);
}
.section {
	margin-bottom: 50rem;
}

.title-big {
	font-size: 40rem;
	font-weight: 700;
	margin-bottom: 25rem;
	color: var(--c-dark);
	@include tablet {
		text-align: center;
	}
	@include tablet-small {
		font-size: 36rem;
	}
}

.title-small {
	font-size: 28rem;
	font-weight: 400;
}

.desc {
	color: var(--c-dark);
	font-size: 24rem;
	font-weight: 400;
}

